##################################################
# {{ title }} #
# {{ method_title }} {{ endpoint }} #

var emptyRequest = require('sendgrid-rest').request
var request = JSON.parse(JSON.stringify(emptyRequest))
{% if data and (method == "PUT" or method == "PATCH" or method == "POST" or method == "DELETE")  %}
request.body = {{ data }};
{% endif %}
{% if params %}
{{ params }}
{% endif %}
request.method = '{{ method }}'
request.path = '{{ api_call }}'
sg.API(request, function (response) {
  console.log(response.statusCode)
  console.log(response.body)
  console.log(response.headers)
})


