////////////////////////////////////////////////////
// {{ title }} #
// {{ method_title }} {{ endpoint }} #
{% if endpoint == "/mail/send/beta" %}
// This endpoint has a helper, check it out [here](https://github.com/sendgrid/sendgrid-php/blob/v3beta/lib/helpers/mail/README.md).
{% endif %}

{% if data and (method == "put" or method == "patch" or method == "post")  %}$request_body = json_decode('{{ data }}');
{% endif %}
{% if params %}$query_params = json_decode('{{ params }}');
{% endif %}
{% if url_params %}{{ url_params }};
{% endif %}
{% if headers %}$request_headers = array("{{ headers }}");
{% endif %}
$response = $sg->client->{{ api_call }}({% if data and (method == "put" or method == "patch" or method == "post" or method == "delete") %}$request_body{% else %}{% if headers or params %}null{% endif %}{% endif %}{% if params and (data and (method == "put" or method == "patch" or method == "post" or method == "delete")) %}{% endif %}{% if params %}, $query_params{% else %}{% if headers %}, null{% endif %}{% endif %}{% if headers %}{% if headers and (data and (method == "put" or method == "patch" or method == "post" or method == "delete") or params) %}{% endif %}, $request_headers{% endif %});
echo $response->statusCode();
echo $response->body();
echo $response->headers();


