
    public function {{ test_name }}
    {
        {% if data and (method == "put" or method == "patch" or method == "post" or method == "delete")  %}        $request_body = json_decode('{{ data }}');
        {% endif %}
        {% if params %}        $query_params = json_decode('{{ params }}');
        {% endif %}
        {% if url_params %}        {{ url_params }};
        {% endif %}
        {% if headers %}        $request_headers = array("{{ headers }}");
        {% endif %}
        $response = self::$sg->client->{{ api_call }}({% if data and (method == "put" or method == "patch" or method == "post" or method == "delete") %}$request_body{% else %}null{% endif %}{% if params and (data and (method == "put" or method == "patch" or method == "post" or method == "delete")) %}{% endif %}{% if params %}, $query_params{% else %}, null{% endif %}{% if headers %}{% if headers and (data and (method == "put" or method == "patch" or method == "post" or method == "delete") or params) %}{% endif %}, $request_headers{% endif %});
        $this->assertEquals($response->statusCode(), {{ response_code }});
    }

