class {{ class_name }}(object):
    """{{ class_description }}"""
    
    def __init__(self, client, **opts):
        """
        {{ class_constructor_definition }}
        """
        self._base_endpoint = "/v3/{{ base_endpoint }}"
        self.endpoint =  "/v3/{{ base_endpoint }}"
        self.client = client

    @property
    def base_endpoint(self):
        return self._base_endpoint

    @property
    def endpoint(self):
        endpoint = self._endpoint
        return endpoint
        
    @endpoint.setter
    def endpoint(self, value):
        self._endpoint = value
        
    @property
    def client(self):
        return self._client

