This documentation is based on our [OAI specification](https://github.com/sendgrid/sendgrid-oai).

# INITIALIZATION

```go
package main

import (
	"fmt"
	"github.com/sendgrid/sendgrid-go"
	"os"
	"log"
)

apiKey := os.Getenv("YOUR_SENDGRID_APIKEY")
host := "https://api.sendgrid.com"
```


