///////////////////////////////////////////////////
// {{ title }}
// {{ method_title }} {{ endpoint }}
{% if endpoint == "/mail/send/beta" %}
// This endpoint has a helper, check it out [here](https://github.com/sendgrid/sendgrid-go/blob/v3beta/helpers/mail/README.md).
{% endif %}

func {{ func_title }}() {
  apiKey := os.Getenv("YOUR_SENDGRID_APIKEY")
  host := "https://api.sendgrid.com"
  request := sendgrid.GetRequest(apiKey, "/v3{{ api_call }}", host)
  request.Method = "{{ method }}"
  {% if data and (method == "PUT" or method == "PATCH" or method == "POST" or method == "DELETE")  %}
  request.Body = []byte(` {{ data }}`)
  {% endif %}
  {% if params %}
  queryParams := make(map[string]string)
  {{ params }}request.QueryParams = queryParams
  {% endif %}
  response, err := sendgrid.API(request)
  if err != nil {
    fmt.Println(err)
  } else {
    fmt.Println(response.StatusCode)
    fmt.Println(response.Body)
    fmt.Println(response.Headers)
  }
}


