func Test_{{ test_name }}(t *testing.T){
  apiKey := "SENDGRID_APIKEY"
  host := "http://localhost:4010"
  request := GetRequest(apiKey, "/v3{{ api_call }}", host)
  request.Method = "{{ method }}"
  {% if data and (method == "PUT" or method == "PATCH" or method == "POST" or method == "DELETE")  %}
  request.Body = []byte(` {{ data }}`)
  {% endif %}
  {% if params %}
  queryParams := make(map[string]string)
  {{ params }}request.QueryParams = queryParams
  {% endif %}
  request.Headers["X-Mock"] = "{{ response_code }}"
  response, err := API(request)
  if err != nil {
		fmt.Println(err)
	}
  if response.StatusCode != {{ response_code }} {
		t.Error("Wrong status code returned")
	}
}


