## {{ title }}

{{ description }}

### {{ method_title }} {{ endpoint }}

{% if endpoint == "/mail/send/beta" %}
This endpoint has a helper, check it out [here](https://github.com/sendgrid/sendgrid-csharp/blob/v3beta/SendGrid/SendGrid/Helpers/Mail/README.md).
{% endif %}

```csharp
{% if data and (method == "put" or method == "patch" or method == "post" or method == "delete")  %}string data = @"{{ data }}";
{% endif %}
{% if params %}string queryParams = @"{{ params }}";
{% endif %}
{% if url_params %}{{ url_params }}
{% endif %}
{% if headers %}Dictionary<String, String> headers = new Dictionary<String, String>();
headers.Clear();
{{ headers }}
{% endif %}
dynamic response = sg.client{{ api_call }}({% if data and (method == "put" or method == "patch" or method == "post" or method == "delete") %}requestBody: data{% endif %}{% if params and (data and (method == "put" or method == "patch" or method == "post" or method == "delete")) %}, {% endif %}{% if params %}queryParams: queryParams{% endif %}{% if headers %}{% if headers and (data and (method == "put" or method == "patch" or method == "post" or method == "delete") or params) %}, {% endif %}requestHeaders: headers{% endif %});
Console.WriteLine(response.StatusCode);
Console.WriteLine(response.Body.ReadAsStringAsync().Result);
Console.WriteLine(response.Headers.ToString());
Console.ReadLine();
```


