        [Fact]
        public async Task {{ test_name }}()
        {
            string host = "http://localhost:4010";
            var sg = new SendGridClient(fixture.apiKey, host);
            {% if data and (method == "PUT" or method == "PATCH" or method == "POST" or method == "DELETE")  %}            string data = @"{{ data }}";
            Object json = JsonConvert.DeserializeObject<Object>(data);
            data = json.ToString();
            {% endif %}
            {% if params %}            string queryParams = @"{{ params }}";
            {% endif %}
            {% if url_params %}            {{ url_params }}
            {% endif %}
            {% if headers %}            Dictionary<String, String> headers = new Dictionary<String, String>();
            headers.Clear();
            {{ headers }}
            {% endif %}
            Response response = await sg.RequestAsync(method: SendGridClient.Method.{{ method }}, urlPath: "{{ api_call }}{% if data and (method == "PUT" or method == "PATCH" or method == "POST" or method == "DELETE") %}, requestBody: data{% endif %}{% if params and (data and (method == "PUT" or method == "PATCH" or method == "POST" or method == "DELETE")) %}{% endif %}{% if params %}, queryParams: queryParams{% endif %}{% if headers %}{% if headers and (data and (method == "PUT" or method == "PATCH" or method == "POST" or method == "DELETE") or params) %}{% endif %}{% endif %}, requestHeaders: headers);
            Assert.True({% if response_code == "200" %}HttpStatusCode.OK{% endif %}{% if response_code == "204" %}HttpStatusCode.NoContent{% endif %}{% if response_code == "201" %}HttpStatusCode.Created{% endif %}{% if response_code == "202" %}HttpStatusCode.Accepted{% endif %} == response.StatusCode);
        }


