This documentation is based on our [OAI specification](https://github.com/sendgrid/sendgrid-oai).

# INITIALIZATION

```javascript
var sg = require('sendgrid').SendGrid(process.env.SENDGRID_API_KEY)
```


