## {{ title }}

{{ description }}

### {{ method_title }} {{ endpoint }}

{% if endpoint == "/mail/send/beta" %}
// This endpoint has a helper, check it out [here](https://github.com/sendgrid/sendgrid-nodejs/blob/v3beta/lib/helpers/mail/README.md).
{% endif %}

```javascript
  var request = sg.emptyRequest()
  {% if data and (method == "PUT" or method == "PATCH" or method == "POST" or method == "DELETE")  %}
  request.body = {{ data }};
  {% endif %}
  {% if params %}
  {{ params }}
  {% endif %}
  request.method = '{{ method }}'
  request.path = '{{ api_call }}'
  sg.API(request, function (response) {
    console.log(response.statusCode)
    console.log(response.body)
    console.log(response.headers)
  })
  ```

