## {{ title }}

{{ description }}

### {{ method_title }} {{ endpoint }}

{% if endpoint == "/mail/send" %}
// This endpoint has a helper, check it out [here](https://github.com/sendgrid/sendgrid-nodejs/tree/master/packages/mail).
{% endif %}

```javascript
  {% if (data != 'null') and (method == "PUT" or method == "PATCH" or method == "POST" or method == "DELETE")  %}
  const data = {{ data }};
  request.body = data;
  {% endif %}
  {% if params %}
  const queryParams = {{ params }};
  request.qs = queryParams;
  {% endif %}
  request.method = '{{ method }}';
  request.url = '{{ api_call }}';
  client.request(request)
  .then(([response, body]) => {
    console.log(response.statusCode);
    console.log(response.body);
  })
```

