describe('{{ test_name }}', () => {
  var request = {};
  {% if (data != 'null') and (method == "PUT" or method == "PATCH" or method == "POST" or method == "DELETE")  %}
  const data = {{ data }};
  request.body = data;
  {% endif %}
  {% if params %}
  const queryParams = {{ params }};
  request.qs = queryParams;
  {% endif %}
  request.method = '{{ method }}';
  request.url = '{{ api_call }}';
  it('should have the correct response code', () => {
    var sgClient = require('./client');
    sgClient.setApiKey('SendGrid API Key');
    sgClient.setDefaultRequest('baseUrl', baseUrl);
    sgClient.setDefaultHeader('X-Mock', {{ response_code }});
    return sgClient
      .request(request)
      .then(([response, body]) => {
        expect(response.statusCode).to.equal({{ response_code }});
      });
  });
});


