describe('{{ test_name }}', function () {
  this.timeout(30000);
  var API_KEY = 'SendGrid API Key'
  if(process.env.TRAVIS == true) {
    var TEST_HOST = process.env.MOCK_HOST
  } else {
    var TEST_HOST = 'e9sk3d3bfaikbpdq7.stoplight-proxy.io'
  }

  var sg = require('../lib/sendgrid.js').SendGrid(API_KEY, TEST_HOST)

  var emptyRequest = require('sendgrid-rest').request
  var request = JSON.parse(JSON.stringify(emptyRequest))
  {% if data and (method == "PUT" or method == "PATCH" or method == "POST" or method == "DELETE")  %}
  request.requestBody = {{ data }};
  {% endif %}
  {% if params %}
  {{ params }}
  {% endif %}
  request.method = '{{ method }}'
  request.path = '{{ api_call }}'
  request.headers['X-Mock'] = {{ response_code }}
  it('{{ test_name }} had the correct response code', function(done) {
    sg.API(request, function (response) {
      assert.equal(response.statusCode, {{ response_code }}, 'response code is correct')
      done();
    })
  });
})


