## {{ title }}

{{ description }}

### {{ method_title }} {{ endpoint }}

{% if endpoint == "/mail/send/beta" %}
 This endpoint has a helper, check it out [here](https://github.com/sendgrid/sendgrid-ruby/blob/v3beta/lib/helpers/mail/README.md).
{% endif %}

```ruby
{% if data and (method == "put" or method == "patch" or method == "post")  %}data = JSON.parse('{{ data }}')
{% endif %}
{% if params %}params = JSON.parse('{{ params }}')
{% endif %}
{% if url_params %}{{ url_params }}
{% endif %}
response = sg.client{{ api_call }}({% if data and (method == "put" or method == "patch" or method == "post" or method == "delete") %}request_body: data{% endif %}{% if params and (data and (method == "put" or method == "patch" or method == "post" or method == "delete")) %}, {% endif %}{% if params %}query_params: params{% endif %}{% if headers %}{% if headers and (data and (method == "put" or method == "patch" or method == "post" or method == "delete") or params) %}, {% endif %}request_headers: headers{% endif %})
puts response.status_code
puts response.body
puts response.headers
```

