  @Test
  public void {{ test_name }}() throws IOException {
    SendGrid sg = new SendGrid("SENDGRID_API_KEY");
    sg.addRequestHeader("X-Mock", "{{ response_code }}");
    if(System.getenv("TRAVIS") != null && Boolean.parseBoolean(System.getenv("TRAVIS"))) {
      sg.setHost(System.getenv("MOCK_HOST"));
    } else {
      sg.setHost("localhost:4010");
    }

    Request request = new Request();
    request.method = Method.{{ method }};
    request.endpoint = "{{ api_call }}";
    {% if data and (method == "PUT" or method == "PATCH" or method == "POST" or method == "DELETE")  %}
    request.requestBody = {{ data }};
    {% endif %}
    {% if params %}
    Map<String,String> queryParams = new HashMap<String, String>();
    {{ params }}
    request.queryParams = queryParams;
    {% endif %}
    Response response = sg.api(request);
    Assert.assertEquals({{ response_code }}, response.statusCode);
  }


